.table .identification .identifier {
    padding: 2px;
    margin: 4px;
}

.selected {
    background-color: lightgray
}

.selected .selected-matching {
    background-color: lightgreen;
    border-radius: 5px;
}

.selected .selected-differing {
    background-color: lightcoral;
    border-radius: 5px;
}

.selected .selected-maybe {
    background-color: linen;
    border-radius: 5px;
}
